<%- contentFor('header') %>
<%- include partials/header.ejs %>

<%- contentFor('sidebar') %>
<%- include partials/sidebar.ejs %>

<%- contentFor('body') %>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover table-responsive">
            <thead>
            <tr>
                <th>R.sz.</th>
                <th>Megrendelő</th>
                <th>Leírás</th>
                <th>Határidő</th>
            </tr>
            </thead>
            <tbody>
            <% orders.forEach(function(order) { %>
            <tr>
                <td><%= order.orderNumber %></td>
                <td><%= order.user.name %></td>
                <td><%= order.textOnItem %></td>
                <td><%= order.deadline %></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
